@import '../../assets/scss/color.scss';
@import '../../assets/scss/font.scss';

.container-fluid {

    .list-top-players {
        background-color: #222246;
    }
    .top-player,.last-player {
        font-weight: 700;
        color:  #FFA500!important;
    }
    .card-last-report {
        background-color: #222246;
        .card {
            width: 100%!important;

        }
    }
    .list-reportType {
        background-color: #222246;
    }
    width: 90%!important;
    h5 {
        color: #FFA500;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'lato-bold';

    }
    .pie-chart {
        margin-top: 12%;
        text {
            font-size: 13px;
            fill: white;
            font-family: 'lato-bold';
        }
    }

 
}



